<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050874863744-2a2d8h5dbg19rco1cu2c80njqvb7fdm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050874863744-2a2d8h5dbg19rco1cu2c80njqvb7fdm6</string>
	<key>API_KEY</key>
	<string>AIzaSyDBT4sMroVgaf8l20BWewdmBVcu4wk30vk</string>
	<key>GCM_SENDER_ID</key>
	<string>1050874863744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>michaelrobertellis.itello</string>
	<key>PROJECT_ID</key>
	<string>itello-78171</string>
	<key>STORAGE_BUCKET</key>
	<string>itello-78171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050874863744:ios:8fab0068807a2655b58665</string>
	<key>DATABASE_URL</key>
	<string>https://itello-78171.firebaseio.com</string>
</dict>
</plist>